
body {
    font-family: Arial, sans-serif;
    background: url(https://i.imgur.com/3bFddRr.png) no-repeat center center fixed;
    background-size: cover;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 50px;
    padding: 0px;
}

#intro {
    text-align: center;
    padding: 50px;
    margin-bottom: -80px; 
}

#intro img {
    width: 1000px;
    height: auto; 
    margin-top: -250px;
    margin-bottom: -100px;
}

h1 {
    font-size: 60px;
    color: #eeeeee;
}

p {
    font-size: 24px;
    color: #ebebeb;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #ededed;
    text-align: center
}

button {
    margin: 10px;
    padding: 20px 40px;
    font-size: 24px;
    color: #e5d9d4;
    background-color: rgb(143, 115, 105);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.5s ease, padding 0.5s ease;
}

button:hover {
    background-color: #deb375;
    font-size: 2.0rem;
    padding: 30px 60px;
    transition-duration: .5s; //*adjust this value to slow or speed up button growing transition animation */
}

button.active {
    background-color: rgb(98, 78, 72); 
    color: #e5d9d4;
}
#submitSection {
    display: none;
    text-align:center;
}
#submitButton:active {
    background-color: rgb(98, 78, 72); 
}

.opaque-box {
    border: 6px solid rgba(246, 218, 187, 0.7); 
    background-color: rgba(155, 190, 203, 0.429); 
    padding: 10px 20px 20px 20px; 
    margin: 50px;
    border-radius: 20px; 
    text-align: center;
}

.opaque-box button {
    margin: 5px; 
}

#welcome {
    border: 2px solid rgba(211, 195, 177, 0.7); 
    background-color: rgba(186, 151, 127, 0.429); 
    padding: 20px 20px 20px 20px; 
    margin: 50px;
    border-radius: 20px; 
    text-align: center;
}

#submitSection {
    text-align: center;
}

#output {
    text-align: center; 
}

